/* styling for first div with 3 sub div  */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 10px;
  margin-top: 2em;
  
  
}
.grid-child{
  padding-top: 10px;
  background-color:#595E61;
  color: white;
  border-radius: 5px;
  text-align: center;
}


.grid-child h5{
  text-align: center;
  margin-left: 0px;

}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}



a:link {
  color: white;
  text-decoration: none;

}
a:visited{
  color:white;
}


/* mouse over link */
a:hover {
  color: rgb(250, 73, 73);
}







/* end ----------------------- */


.region-sidebar-second {
  /* padding-left: 11%; */
  margin-top: 2em;
}
.region-sidebar-second button {
  width: 100%;
  border-radius: 1em;
  margin-bottom: 10px;
}
.region-sidebar-second button:hover {
  background-color: brown;
  color: white;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}







/* last div css */
/*  SECTIONS  */
.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 9px;
  grid-gap: 10px;
}

/*  COLUMN SETUP  */
.col {
  text-align: center;
  border-radius: 8px; 
  height: 420px;
	padding-top: 10px;
  background-color:#383838;
  color: white;
  border-radius: 5px;
  text-align: center;
}





