
.page-section{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.aTable tbody tr:nth-child(odd){
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
  .aTable {
    width: 95%;
    border-spacing: 2px;
    text-align: center;
}
.aTable tr td{
    padding: 5px;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.aTable tr{
  border: 2px solid black !important;
}

  .bTable tbody tr:nth-child(odd){
    background-color:#caf0fa;
    color: black;
  }
  .bTable tbody tr:nth-child(even){
    background-color: white;
    color: black;
  }
  .bTable tr td{
    border: 1px solid rgb(209, 209, 209);
    border: 1px solid black;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.bTable {
    width: 100%;
    text-align: center;  
}

.main{
  margin: auto;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) 
{
  .tables
    {
      width: auto;
       margin-left: -20px;
       overflow-x: auto;
    }
   
}


